# Node / Next.js
node_modules/
.next/
out/
*.log

# OS / système
.DS_Store
Thumbs.db

# IDE / Trea / cache
.cache/
.cache/code-nautilus/
.idea/
*.vscode/
*.sublime-workspace
*.sublime-project

# Base de données locales / fichiers temporaires
*.sqlite
*.db
*.env
.env.local
.env.*.local

# Build / output
dist/
build/
